td, th {
    border: 2px solid black;
    font-family: Verdana;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

h2 { 
color: green;
font-weight: bold;
text-align: center;
}

td {
text-align: center;
border-style: dotted;
border-color: blue;
}

