td, th {
    border: 2px solid black;
    font-family: Verdana;
}

table {
    border-collapse: collapse;
    width: 650px;
    
}

th {
    height: 30px;
}

h2 { 
color: green;
font-weight: bold;
}

td {
text-align: center;
border-style: dotted;
border-color: blue;
}
.blue {
color: blue;
}

.red {
color: red;
}


