table {
    border-collapse: collapse;
    width: 650px;
    margin: auto;
    font-family: Verdana;
    
}

th {
    height: 30px;
    width: 20%;
}

h2 { 
color: green;
font-weight: bold;
text-align: center;
}

td {
text-align: center;
border-style: dotted;
border-color: blue;
border: 2px solid black;
}
.blue {
color: blue;
}

.red {
color: red;
}

.yellow {
 background-color: yellow;
}




